<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jasonone.oe.sm.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="cn.jasonone.oe.sm.domain.Student">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="accountId" column="account_id" jdbcType="INTEGER"/>
            <result property="classInfoId" column="class_info_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="birthday" column="birthday" jdbcType="DATE"/>
            <result property="identityCard" column="identity_card" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account_id,class_info_id,
        name,birthday,identity_card
    </sql>
</mapper>
